.DS_Store
_notes/
js/_notes/

# Local backup/working theme files
lab_membersCopy.php
lab_membersWordking7.3.25.php
single-wl_member5-31-25.php
single-wl_memberCopy.php
single-wl_memberDidn'tWork.php
single-wl_memberWorking.php
single-wl_memberWorking5.27.php
